/* 04_1css.html */

table{
    border-collapse: collapse; width: 100%;
    }
th, td{
    text-align: left;
    padding: 8px;vertical-align: middle;
    }

tr:nth-child(even){
    background-color: #f2f2f2;
    }

th{background-color: #4CAF50;
    color: white;
    }

tr:hover{
    background-color:yellow;
    }


/* 04_2css.html */

.nono{
    border: 3px solid #4CAF50;
    padding: 5px;
    height: 170px;
        }

.img2 {
    float: right;
        }

.nono1 {width: 300px; height: 200px;
    border: 1px dotted black;
    overflow: scroll;
    }

/* 04_3css.html */

* { box-sizing: border-box; }
.img-container { float: left; 
width: 15%;
padding: 5px;
}

/* 04_4css.html */
body{
    margin: 0;
}

.header{
    background-color: #f1f1f1;
    padding: 20PX;
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* 04_4css.html 2번째*/

.topnav{
    overflow: hidden;
    background: #333;
    padding: 14px;
}
.topnav a{
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}



/* 04_5css.html */
/* 글 배열을 왼쪽으로 하며 간격을 10px로 하며 사이드 선 굵기를 1px, 색상은 red로 한다. */
.column{float: left;
        padding: 10px;
        border: 1px solid red;
}
/* 양 사이드의 넓이를 25%로 한다 */
.column.side{
       width: 25%;
}
/* 중앙의 넓이를 25%로 한다 */
.column.middle{
        width: 50%;
}
.row{
    display:inline;
}
